nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px 40px;
    z-index: 99;
    position: relative;
    background-color: white;
}

nav a {
    text-decoration: none;
    margin-left: 20px;
    padding: 5px;
}

/* nav .nav-title {
    color: azure;
} */

nav .navigation-items {
    display: flex;
}