.about-container {
    background: #10121B;
    height: 100vh;
}
.about-container .about-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 8rem;
}

.about-wrapper .about-description {
    width: 50%;
    display: flex;
    flex-direction: column;
    color: #f2f2f2;
}

.about-wrapper .about-description h1 {
    font-size: 40px;
    line-height: 1.3;
    font-weight: bold;
}

.about-wrapper .about-description span {
    font-size: 20px;
    line-height: 1.5;
    font-weight: 600;
}

.about-wrapper .about-description p {
    margin-top: 10px;
    font-size: 18px;
    color: #919dae;
}

.about-wrapper .about-photo {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px !important;
}

.about-wrapper .about-photo img {
    width: 350px;
    height: 350px;
    border: 1px solid slategray;
    padding: 2px;
    border-radius: 10px;
}


/* ..............Mobile Device responsive...............
........................................................ */

@media only screen and (max-width: 576px) {
    .about-container {
        height: 100%;
    }

    .about-container .about-wrapper {
        flex-direction: column;
        padding-top: 3rem;
    }

    .about-wrapper .about-description {
        width: 100%;
        order: 2;
        text-align: center;
        padding: 15px 0;
    }

    .about-wrapper .about-description h1 {
        font-size: 30px;
        text-align: center;
    }

    .about-wrapper .about-description span {
        text-align: center;
    }
}

/* ..............Mobile Device responsive...............
........................................................ */
