.shipment form {
    width: 400px !important;
}

.check-container {
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.check-container label {
    margin-left: 5px !important;
    margin-bottom: 5px !important;
}

.book-btn-true {
    background-color: var(--primary-color);
    margin-bottom: 10px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.book-btn-false {
    background-color: var(--form-color);
    margin-bottom: 10px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

