.checkout-container {
    max-width: 1110px;
    margin: 50px auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


@media only screen and (max-width: 576px) {
    .checkout-container {
        flex-direction: column;
    }
}