.form-container {
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.form-container form{
    width: 300px;
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 30px 20px;
    border-radius: 5px;
    box-shadow: 0 0 2px lightslategray;
}

.form-container form h5 {
    text-align: center;
    color: var(--primary-color);
    font-weight: 700;
    font-size: 25px;
}

.form-container input {
    border: 0;
    outline: 1px solid var(--primary-color);
    padding: 5px 10px;
    border-radius: 3px;
    font-size: 12px;
}

.form-container form label {
    margin: 10px 0 5px;
    color: lightslategray;
    font-size: 12px;
}

.form-container form .login-btn {
    border: 0;
    outline: 1px solid var(--primary-color);
    background-color: var(--primary-color);
    color: white;
    font-weight: 500;
    padding: 4px;
    border-radius: 2px;
    margin-bottom: 10px;
}

.form-container form small {
    text-align: center;
}

.form-container form .error {
    display: flex;
    justify-content: start;
    align-items: center;
    color: red;
    margin: 5px 0;
}

.form-container form .warning-icon {
    margin-right: 5px;
}

.form-container form .social-btn {
    border: 0;
    outline: 1px solid var(--primary-color);
    padding: 5px;
    border-radius: 2px;
    font-size: 13px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: transparent;
    margin-bottom: 10px;
}

.form-container form .social-btn .social-icon-wrapper {
    width: 1%;
    font-size: 17px;
}

.form-container form .social-btn .social-btn-text-wrapper {
    width: 99%;
}

.form-container form .social-btn .social-btn-text-wrapper small {
    margin-top: 4px;
    font-size: 16px;
}

@media only screen and (max-width: 1280px) {
    .form-container {
        height: 100%;
        padding: 20px 0;
    }
}

@media only screen and (max-width: 576px) {
    .form-container {
        height: 100%;
        padding: 50px 0;
    }
}