.social-button .or-line {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.social-button .or-line  > div {
    width: 40%;
    margin: auto;
    height: 1px;
    background-color: var(--form-color);
}

.social-button .or-line  > small {
    padding: 0 5px;
}

.social-button > button {
    width: 100%;
    margin: 10px auto;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    outline: 1px solid gray;
    border-radius: 5px;
    padding: 5px 0;
    font-size: 18px;
}

.social-button button img {
    width: 20px;
    margin-right: 10px;
}