@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img{
 width: 100%;
}

html {
  scroll-behavior: smooth;
  height: 100vh;
}

body {
  font-family: 'Roboto', sans-serif;
}

.page-container {
  display: flex;
  flex-direction: column;
  /* min-height: 100vh; */
  min-height: 500px;
}
.content-wrap {
  flex: 1;
}

button {
  cursor: pointer;
}
:root {
  --primary-color: #1E69B8;
  --form-color: #FFA500;
}

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.content-wrap {
  flex: 1;
}